.img-fluid {
  height: 100%;
  display: block;
  max-width: 100%;
}
.sevices .decisions__image {
  height: 100%;
}
.services-page {
  padding-top: 11.250rem;
}
.sevices {
  background: url(../img/img/service_bg.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.breadcrumbs {
  margin-bottom: 23px;
}
.breadcrumbs a {
  text-decoration: none;
  font-size: 10px;
  line-height: 52px;
  font-weight: 400;
  color: #111111; 
  margin-right: 10px;
}
.breadcrumbs .current {
  font-size: 10px;
  line-height: 52px;
  font-weight: 400;
  color: #999999;
  margin-left: 14px;
}
.services-page .decisions {
  padding-bottom: 5.75rem;
}
.decisions__heading {
  text-align: start;
  max-width: 100%;
}
.consultant_wrap {
  background: url(../img/img/consultant_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 85px 104px 76px 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
}
.consultant_wrap-left-title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 300;
  color: #999999;
  margin-bottom: 27px;
}
.consultant_wrap-left-title span {
  color: #ffffff;
  font-weight: 700;
}
.consultant_image {
  position: absolute;
  bottom: -5px;
  left: 315px;
}
.consultant_wrap-right {
  width: 285px;
}

.block-contact__phones {
  margin: 1.625rem 0 2rem;
  display: flex;
  justify-content: start;
}
.consultant .block-contact__phone {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}
.consultant .block-contact__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: start;
  margin-bottom: 1.8rem;
  color: #ffffff;
}
.consultant .block-contact__info {
  text-align: start;
}
.consultant .block-contact__social__title {
  color: #fff;
  text-align: start;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}
.consultant .block-contact__social__main {
  justify-content: start;
}


.consultant .block-contact__content:before {
  display: none;
}
.consultant .block-contact__title {
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-align: start;
}
.consultant .block-contact__list li {
  font-size: 11px;
  line-height: 24px;
  font-weight: 700;
  color: #999999;
}
.consultant .block-contact__list li strong {
  color: #ffffff;
  font-size: 11px;
  line-height: 24px;
  font-weight: 700;
}
.consultant .block-contact__privacy {
  color: #fff;
}


.consultant .block-contact__title.tac {
  text-align: center;
  margin-bottom: 15px;
}
.consultant .block-contact__social {
  padding-top: 1.9rem;
}
.consultant .block-contact__phones ul {
  padding: 0 0 0 2rem;
}
.consultant .block-contact__content {
  padding: 0;
}
.consultant .block-contact__list {
  font-size: 11px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff; 
}


.sevices .content-block {
  padding-top: 6.375rem;
  padding-bottom: 2.5rem;
}
.sevices .content-block__heading {
  margin-bottom: 2.25rem;
  text-align: start;
  font-weight: 400;
}
.sevices .content-block__heading span {
  font-weight: 700;
}
.sevices .content-block ul li {
  padding-left: 10px;
  position: relative;
  display: flex;
}
.sevices .content-block ul li.underline {
  text-decoration: underline;
}
.sevices .content-block ul li:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 1px;
  left: 0;
  top: 11px;
  background: #262626;
}
.sevices .content-block h3 {
  font-size: 16px;
  font-weight: 700;
  color: #262626;
  margin-top: 20px;
}
.services-page .decisions__image img {
  object-fit: cover;
}



.price {
  background: url(../img/img/price_bg.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.first-section {
  padding-bottom: 141px;
}
.first-section .container {
  display: flex;
  position: relative;
}
.first-section__heading {
  margin-bottom: 40px;
  text-align: start;
}
.first-section-text {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #262626;
  max-width: 350px;
}
.first-section-text span {
  font-weight: 700;
}
.first-section_img {
  position: absolute;
  bottom: -134px;
  right: 84px;
}


.price-page .faq__content {
  width: 100%;
}
.price-page .faq-item:before {
  display: none;
}
.price-page .faq-item__title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #262626;
}
.price-page .faq-item__wrap {
  padding-top: 35px;
}
.price-page .faq-item__wrap-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #262626; 
  margin-bottom: 20px; 
}
.price-page .faq-item-list {
  list-style: none;
  padding: 0;
}
.price-page .faq-item-list li {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #999999;
}
.price-page .faq-item-list .name {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #999999;
  margin-right: -20%;
  width: 94%;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}
.price-page .faq-item-list .name:after {
  content: '';
  display: inline-block;
  width: 100%;
  margin: 0 -99% 0 3px;
  vertical-align: baseline;
  border-bottom: 1px dotted #939b9f;
}
.price-page .faq-item-list .value {
  display: inline-block;
  letter-spacing: normal;
  padding-left: 3px;
  margin-left: 20%;
  width: 5%;
  vertical-align: bottom;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #999999;
  white-space: nowrap;
}
.price-page .faq:before {
  display: none;
}
.price-page .faq__wrap {
  padding-top: 3.8125rem;
}
.price-page .faq__content {
  grid-template-columns: 1fr;
}
.price-page .faq-item__header {
  cursor: pointer;
}


.payment {
  padding-bottom: 67px;
}
.payment__heading {
  text-align: start;
  margin-bottom: 107px;
}
.payment__items {
  display: flex;
  margin-left: -260px;
  margin-bottom: -100px;
  flex-wrap: wrap;
}
.payment__items > * {
  width: calc(100%/3 - 260px);
  margin-left: 260px;
  margin-bottom: 100px;
}
.payment__num {
  top: -3.375rem;
  left: 0;
  color: #fff;
  width: 3.75rem;
  height: 3.75rem;
  background: #3385e8;
  text-align: center;
  border-radius: 50%;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.375rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment__num {
  width: 33px;
  height: 33px;
  font-size: 10px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
}

.payment__title {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  color: #262626;
  margin-bottom: 19px;
}
.payment__text {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  color: #262626;
}

.payment__item {
  color: #262626;
  position: relative;
  text-align: start;
  display: flex;
  flex-direction: column;
}
.payment__text span {
  font-weight: 700;
}






@media print, (max-width: 1200px) {
  .payment__items {
    display: flex;
    margin-left: -20px;
    margin-bottom: -30px;
  }
  .payment__items > * {
    width: calc(100%/2 - 60px);
    margin-left: 60px;
    margin-bottom: 10px;
}
  .consultant_wrap {
    padding: 60px 50px;
  }
  .consultant_wrap-left-title {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 22px;
  }
  .consultant_image {
    left: 171px;
    width: 489px;
  }
  .consultant_image img {
    width: 100%;
  }.payment__text br {
    display: none;
  }



}


@media print, (max-width: 992px) {

  .consultant_image {
    display: none;
  }
  .consultant_wrap-left-title {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .consultant_wrap {
    align-items: flex-start;
  }
  .block-contact__phones {
    margin: 10px 0;
  }
  .consultant .block-contact__title {
    margin-bottom: 10px;
  }
  .consultant_wrap {
    padding: 40px 30px;
  }
  .services-page {
    padding-top: 5.25rem;
  }
  .sevices .content-block {
    padding-top: 3.375rem;
    padding-bottom: 2.5rem;
  }



}



@media print, (max-width: 768px) {
  
  .consultant_wrap {
    flex-direction: column;
  }
  .consultant_wrap {
    justify-content: center;
    align-items: center;
  }
  .consultant_wrap-left-title {
    text-align: center;
  }
  .consultant .block-contact__title {
    font-size: 18px;
    text-align: center;
  }
  .consultant .block-contact__phones {
    justify-content: center;
  }
  .consultant .block-contact__time {
    font-size: 11px;
    text-align: center;
  }
  .consultant .block-contact__info {
    text-align: center;
  }
  .consultant .block-contact__info {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .consultant .block-contact__social {
    padding-top: 1.5rem;
    margin: 0 auto;
    display: block;
  }
  .consultant_wrap-left-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
  }
  .consultant .block-contact__content {
    margin-bottom: 0;
  }
  .consultant .block-contact__time:before {
    left: 56px;
  }
  .consultant_wrap {
    padding: 30px;
  }
  .consultant_wrap-left-title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
  }
  .consultant .block-contact__title {
    font-size: 17px;
  }
  .sevices .content-block {
    padding-top: 2.375rem;
    padding-bottom: 2.5rem;
  }
  .sevices .content-block h3 {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .sevices .content-block__heading {
    font-size: 23px;
    margin-bottom: 15px;
  } 
  .services-page .decisions__heading {
    font-size: 26px;
  }
  .services-page .decisions__heading br {
    display: none;
  }
  .services-page {
    padding-top: 4.25rem;
  }




}



@media print, (max-width: 480px) {
  .consultant .block-contact__time:before {
    left: 54px;
  }  
  .services-page .decisions__main {
    grid-template-columns: 1fr;
    border-radius: 10px;
  }
  .services-page .decisions {
    padding-bottom: 2.75rem;
  }


}
